*{
    margin: 0%;
    padding: 0%;
}
.questionsFields{
    display: flex;
    flex-direction:column;
    margin-top: 20px;
    margin-left: 50px;
    width: 30vw;
    border-radius: 0%;
    border-bottom: 1px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

h3{
    margin-top: 40px;
}
.reminder{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 80px;
    margin-top: 20px;
}

.Exc{
    padding-left: 15%;
}